<% @products.each_with_index do |product, index|%>
	<% if (index%3==0) %>
		<div class='row show-grid'>
	<% end %>	
	<div class='col-md-3 product-wrap'>
		<div class='col-md-12'>
			<%=image_tag product.image_url, :width => 100, :height => 100, "data-href" => "#{product_url(product)}"%>
		</div>
		<div class='col-md-12'>
			<button class='addcart'>Add to Cart</button>
		</div>
	</div>
	<% if(index+1)%3 == 0 %>
		</div>
	<% end %>	
<% end %>