<div class='col-md-12' style='margin-bottom:30px;'>
	<%= paginate @products, :left => 1, :right => 3 %>
</div>


<div class='loader'>
	<img src='/assets/loader.gif'>
</div>

<div class='col-md-12' id='products-listing'>
	<%=render :partial => 'product', :object => @products%>
</div>
