<%=javascript_tag "var PER_PAGE = #{Product::PER_PAGE}"%>

<div class='col-md-12' id='pagination-links' style='margin-bottom:30px;'>
	<%= paginate @products, :remote => true %>
</div>


<div class='loader'>
	<img src='/assets/loader.gif'>
</div>

<div class='col-md-12' id='products-listing'>
	<%=render :partial => 'product', :object => @products%>
</div>

<div id='page-scroll-loader'>
	<h4>Loading more data....</h4>
</div>